.wp-block-blockswp-share-block {
	padding: 2rem;
}

.blockswp-share-blocks  {
	display: inline;
}

.blockswp-share-block-setting {
	display: inline;
}

.blockswp-share-block {
	display: inline-flex;
	padding: 4px;
	color: #fff;
}